@tailwind base;
@tailwind components;
@tailwind utilities;


.hidde-block {
    @apply opacity-0 pointer-events-none !important;
}

input[type=radio]{
    @apply transition ease-in-out duration-300;
}

.product-card-description {
    @apply overflow-hidden font-medium;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.link-active {
    @apply text-orange-400 !important;
}

.active-additional-product {
    @apply border-orange-500 !important;
}

.pr-scroll {
    @apply pr-2 !important;
}

.custom-scroll::-webkit-scrollbar {
    @apply w-2;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-md;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-orange-500/70 rounded-md;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-500/70;
}

.active-link-admin {
    @apply bg-orange-500/90 font-semibold text-white !important;
}

.input-invalid {
    @apply border-red-500 bg-red-300 !important;
}

.tr-active {
    @apply bg-gray-100 !important;
}
